.jumbo__container {
  margin: 20px auto;
  max-width: 700px;
  min-width: 450px;
  height: 90vh;
}

.jumbo__main-col {
  display: grid;
  grid-template-rows: repeat(30, minmax(0, 1fr));
  position: relative;
  padding-right: 0;
  padding-left: 0;
  height: 90vh;
  max-height: 880px;
  vertical-align: top;
}

.jumbo__primary-div {
  background-color: white;
  opacity: 0.4;
  width: 85%;
  grid-row-start: 1;
  grid-row-end: 31;
  grid-column: 1;
  margin: 0 auto;
}

.helper {
  display: none;
}

.jumbo__logo {
  max-width: 70%;
  height: auto;
  margin-top: 25px;
}

.jumbo__secondary-div {
  grid-row-start: 6;
  grid-row-end: 29;
  grid-column: 1;
  background-color: #172a45;
  width: 95%;
  z-index: 2;
  margin: 0 auto;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}

.jumbo__content {
  margin: auto;
  grid-column: 1;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.jumbo__div-title {
  grid-row-start: 6;
  grid-row-end: 10;
}

.jumbo__div-title h1 {
  font-size: 22px;
}

.jumbo__div-titleDesc1 {
  grid-row-start: 10;
  grid-row-end: 11;
}

.jumbo__div-titleDesc h4 {
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  color: #64ffda;
}

.jumbo__hr1 {
  grid-row-start: 11;
}

span.jumbo__content {
  display: inline-block;
  width: 65%;
  border-bottom: 1px solid #303c55;
  margin-bottom: 10px;
}

.jumbo__div-subtitle {
  grid-row-start: 12;
  grid-row-end: 16;
}

.jumbo__div-subtitle h3 {
  font-size: 17px;
}

.jumbo__div-titleDesc2 {
  grid-row-start: 16;
  grid-row-end: 17;
}

.jumbo__hr2 {
  grid-row-start: 17;
}

.jumbo__div-details {
  grid-row-start: 19;
  grid-row-end: 24;
}

.jumbo__div-details p {
  font-size: 15px;
}


@media only screen and (max-width: 575px) {
  .jumbo__main-col {
    height: 80%;
    min-height: 550px;
    margin-top: 10px;
  }
  .jumbo__primary-div {
    opacity: 0.1;
  }
  .jumbo__secondary-div {
    display: none;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .jumbo__logo {
    max-width: 70%;
    max-height: 70%;
    height: auto;
    vertical-align: middle;
    margin: auto;
  }
  .jumbo__content {
    color: #e6f1ff;
    font-size: 14px;
    max-width: 70%;
      z-index: auto;
  }
  h1.jumbo__content {
    grid-row-start: 3;
    font-size: 22px;
  }
  .jumbo__sub1 {
    grid-row-start: 8;
  }
  .jumbo__hr1 {
    grid-row-start: 10;
  }
  .jumbo__hr2 {
    grid-row-start: 18;
  }
  h3.jumbo__content {
    grid-row-start: 12;
  }
  .jumbo__sub2 {
    grid-row-start: 17;
  }
}
