.App {
  text-align: center;
}

.sectionDiv {
  min-height: 75vh;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #8892b0;
}

.sectionHeader {
  font-family: "Segoe UI", Arial, sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0 40px;
  color: #ccd6f6;
  font-size: 24px;
}

.sectionHeader::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: "Fira Mono";
  color: #64ffda;
  position: relative;
  font-size: 20px;
}

.sectionHeader::after {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    margin-left: 20px;
}

@media only screen and (max-width: 575px) {
  .sectionHeader::after {
      display: none;
  }
}
